#header_list
{
	display: flex;
	list-style: none;
	padding-left: 120px;

	
}
#header_list li 
{
	padding-left: 12px;
}
#header_buttons_div 
{
	padding: 15px;
	padding-left: 220px;
}
#header_buttons
{
	border: 1px solid black;
	padding: 15px;
	border-radius: 20px;

}
#smile_image_div
{
   background-color:rgb(239, 240, 246);
   padding:50px;
}
#Join_my_blog_to_get_in_touch!
{
	padding: 20px;
}
#set_padding_of_header
{
	padding-top: 20px;
}